body {
    background-color: bisque;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.container {
    display: flex;
    flex-flow: column nowrap;  
    justify-content: center;
    align-items: center;
    background-image: url("./Images/Calculator_StockPhoto_MOD.jpg");
    height:800px;
    width: 550px;
    padding-top: 252px;
    padding-left: 11px;
    padding-bottom: -50px
}

.screen {
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    border: 2px solid black;
    height: 130px;
    width: 230px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 3px;
    background-color: greenyellow;
}

.calc {
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    gap: 10px;
    width: 233px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    padding-bottom: -50px;
    background-color: burlywood;
}

.numbers .row_4{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.numbers .clear{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: end;
}

.numbers {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.operations {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    justify-self: space-between;
    align-items: space-between;
    margin-right: -20px;
}

button.digit {
    width: 50px;
}

button.neutral {
    width: 100px;
}